.gameCard{
    margin: 16px auto;
    padding: 16px 26px;
    border: 3px solid var(--light-color);
    background-color: #ccc2b63a;
    width: fit-content;
    border-radius: 12px;
    transition: all 0.4s;
}

.gameContent{
    width: 100%;
    gap: 36px;
    align-items: center;
    text-align: center;
}

.gameContent h2 {
    max-width: 100% !important;
}

.gamePriceTag{
    margin: 0 auto;
    width: 80px;
    height: 35px;
    border-radius: 8px;
    border: 1.5px solid var(--secondary-color);
    background-color: var(--secondary-color);
}
  

@media (max-width: 768px) {
    .thumb {
        border-radius: 8px;
        width: 184px;
        height: 69px;
    }
    .gameCard {
        padding: 24px 12px;
        min-width: 87%;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .thumb {
        border-radius: 8px;
        width: 231px;
        height: 87px;
    }
    .gameCard {
        min-width: 80%;
    }
  }