:root {
    --primary-color: #24211C;
    --secondary-color: #A5845B;
    --accent-color: #FEFEFE;
    --light-color: #CCC2B6;
    --bg-color: #24211C;
    --page-padding: 12px 2.5%;
    --primary-rgb: 216, 64, 64;
    --red-primary-color: #D84040;
    --red-secondary-color: #8E1616;
    --red-accent-color: #EEEEEE;
    --red-dark-color: #1D1616;
  }

  @font-face {
    font-family: Kanit;
    src: url(../assets/fonts/Kanit/Kanit-Regular.ttf);
  }

  * {
    color: var(--accent-color);
    font-family: Kanit;
  }

  button {
    padding: 5px 16px;
    background-color: transparent;
    border: var(--accent-color) 1px solid;
    border-radius: 8px;
  }

  button:hover{
    cursor: pointer;
  }
  
  .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 14px;
  }

  .justifyBetween{
    justify-content: space-between !important; 
  }

  .marginTop{
    
    margin-top: 16px;
  }
  .marginBottom{
    
    margin-bottom: 16px;
  }

  .accentColor{
    color: #ffbe74;
  }

  .mediumFont {
    font-size: 16px;
  }